<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Genre Predictor - Movie Posters</title>
</head>

<body>
    <form id="form" method="post" action="">
        <div class="form-group">
            <label for="poster"> Upload a poster</label>
            <br />
            <button type="button" name="poster" id="upload">Choose Image File</button>
        </div>
        <button id="entry" type="submit">Submit</button>
    </form>
</body>
</html>
